{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <div class="container">
        <h1>Reset Password</h1>
        <p>Please contact support to reset your password.</p>
        <h3>Email:elouedwassim@gmail.com</h1>
    </div>
{% endblock %}